.form-control {
  font-size: 16px; }

@media (min-width: 768px) {
  .navbar-nav > li {
    text-align: center; }
    .navbar-nav > li a {
      font-size: 20px;
      padding-bottom: 22px;
      padding-top: 22px; } }
@media (min-width: 768px) and (max-width: 914px) {
  .navbar-nav > li {
    min-width: 100px; } }
@media (min-width: 915px) {
  .navbar-nav > li {
    min-width: 150px; } }
@media only screen and (min-width: 768px) {
  .logo img {
    height: 66px; } }
.nav-outer-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 1.2em;
  width: 100%;
  z-index: 1; }
  .nav-outer-wrapper .nav-wrapper {
    max-width: 900px;
    margin: auto; }

@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav > li a {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #ddd;
    border-left: none;
    color: #000;
    font-weight: lighter; }
    .navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li a:focus, .navbar-default .navbar-nav > li a:active {
      background-color: #fff; }
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #555; }
  .navbar-default .navbar-nav li.active > a {
    background-color: #fff; }
  .navbar-default .dropdown-menu {
    padding: 0; }
    .navbar-default .dropdown-menu li.active > a {
      background-color: #f6f6f6; }
    .navbar-default .dropdown-menu li a {
      background-color: rgba(255, 255, 255, 0.6);
      border: none;
      padding: 15px 20px; }
      .navbar-default .dropdown-menu li a:hover, .navbar-default .dropdown-menu li a:active {
        background-color: #f6f6f6; } }
@media (max-width: 767px) {
  .navbar-default .dropdown-menu {
    position: relative;
    width: 100%; }
  .navbar-default .navbar-nav {
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box; }
    .navbar-default .navbar-nav li a {
      border: none;
      padding: 15px 20px; } }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover {
  color: #000;
  font-weight: 300; }

.navbar-default .navbar-toggle:hover {
  background: transparent;
  background-color: transparent; }
.navbar-default .navbar-toggle .icon-bar {
  background-color: #73836a;
  margin-bottom: 7px;
  width: 30px; }

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  float: right;
  padding: 6px; }
  .arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

/*# sourceMappingURL=secondary.css.map */
