@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*defining colors*/

$dark-grey: #4E4F50; 

$med-grey: #B1B6AB;

$light-grey: #E2E4E0;

$paragraph-grey: #d7d7d1;

$green-grey: #6A735D;

$salmon: #F28173;

$fuse-green: #8CC43F;

$turquoise: #44A38B;

$moss: #496B34;

$light-blue: #7AA6A4;

$orange: #FF852E;

/*may need to change these*/
$green: #adbba4;

$blue-green: #a4cbbd;

$blue: #9bbcbb;


/*max width container*/
.max-container {
	max-width: 1236px;
	margin: 0 auto;
	padding:10px;
}

/*font guide*/
/*replacing DIN with Roboto per Jen's suggestion*/

h1 {
	font-size: 41px;
	line-height: 48px;
	font-family: 'roboto', Helvetica, sans-serif;
	font-weight: 200;
	color: $dark-grey;
	text-transform: uppercase;
}


h2 {
	font-size: 30px;
	line-height: 35px;
	font-family: 'roboto', Helvetica, sans-serif;
	font-weight: 200;
	color: $dark-grey;
	text-transform: uppercase;
}


h3 {
	font-size: 20px;
	line-height: 24px;
	font-family: 'roboto', Helvetica, sans-serif;
	font-weight: initial;
	color: $dark-grey;
	text-transform: uppercase;
}

h4 {
	font-size: 16px;
	line-height: 20px;
	font-family: 'roboto', Helvetica, sans-serif;
	font-weight: initial;
	color: $dark-grey;
	text-transform: uppercase;
	font-weight: 800;
}

#navbar .nav {
	font-size: 24px;
	line-height: 48px;
	font-family: 'roboto', Helvetica, sans-serif;
	font-weight: 100;
	color: $dark-grey;
	text-transform: uppercase;
}

.pull-quote {
	font-size: 30px;
	line-height: 35px;
	font-family: 'roboto', Helvetica, sans-serif;
	font-weight: 800;
	color: black;
	text-transform: uppercase;
}

p {
	font-size: 15px;
	line-height: 20px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: initial;
	color: $dark-grey;
}

ul,
li {
	font-size: 15px;
	line-height: 24px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: initial;
	color: $dark-grey;
}

.preview {
	font-size: 15px;
	line-height: 30px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: initial;
	color: $dark-grey;
}

.call-to-action-light {
	font-size: 24px;
	line-height: 30px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: $dark-grey;
}

.call-to-action-button {
	font-size: 16px;
	line-height: 30px;
	background-color: black;
	color: white;
	text-transform: uppercase;
}

a {
	color: $salmon
}

a::hover {
	text-decoration: underline;
	color: $salmon;
}


#page-title:first-child {
	padding-left: 10px;
}


button,
.btn-primary,
.btn-primary:hover {
	color: white;
	background-color: $light-blue;
	font-size: 20px;
	font: 'Open Sans';
	text-transform: uppercase;
	border:none;
	font-weight: 300;
	padding: 5px 10px;
} 

iframe,
.field--name-field-body img {
	max-width: 100%;

	/*@media only screen and (min-width: 1024px) {
		width: initial;
	}*/
}


.pagination > .active > a {
	color: $med-grey !important;
	background-color: white !important;
	font-family: 'roboto', Helvetica, sans-serif !important;
	border-right: 1px solid $light-grey;
}

.pagination > li:first-child > a {
	border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 1px solid $light-grey;
}

.pagination > li > a {
	border:none;
	border-left: 1px solid $light-grey ;
}

.pagination > li > a {
	color: $blue !important;
}