// Custom theme overrides.
@import 'components';
/*temporary, all of this to be deleted*/
.logo img{
	height: 40px;

	@media only screen and (min-width: 768px) {
		height: 52px;
	}
	width: auto;
	opacity: .65;
}

.navbar .logo {
	margin:0px;
	padding:0px;
}

.col-sm-12:first-child {
	padding: 0px;
}





/*overall image handling*/
.field--name-body {

	img {
		max-width: 100%;
	}
}





/*overall title handling*/
#page-title {
	display: none;
}

.page-node-type-article,
.path-taxonomy,
.page-node-type-case-study {
	#page-title {
			display: block;
		}
}





/*temporary footer blocks*/

footer {
	border-top: none !important;
	margin-top: 0px !important;

	.region-footer {
		/*margin-top: 80px;*/
		display: flex;
		flex-wrap: wrap;
		border-bottom:1px solid #888;

		#block-footermaptest-2 {
			max-height: 300px;
			/*background-image: url('/themes/custom/fuseiq_custom/images/mobile-map.jpg');*/

			.field--name-body {
				width: 100%;

				img {
					width:100%;
				}
			}

			.mobile-map {
				img {
					height: auto;
				}
			}

			.desktop-map {
					display: none; 
				}

			@media only screen and (min-width: 1020px) {
				display: inline-block;

				.mobile-map {
					display: none;

				}

				.desktop-map {
					display: block;
				}
			}
		}
	}

	.block {
		width: 50%;
	}

	#block-copyright,
	#block-copyright-2 {
		width: 100%;
		text-align: center;
		padding: 5px;
	}


	#block-footermaptest-2,
	#block-footerphonetest-2 {
		width: 100%;
		z-index: 999;
		@media only screen and (min-width: 1020px){
			width: 50%;
			display: inline-block;
		}
	} 
#block-footerphonetest-2 {
	background-color: #80966e;

	p {
		color: white;
		font-size: 16px;
		font-weight: 400;
	}

	.phone{
		display: flex;
		 img {
			width: 20px;

			@media only screen and (min-width: 768px) {
				width: 30px;
			}

			margin-right: 20px;
		}
	}

	.chicken-man {
		margin-left: 10%;
		margin-top: 3%;
    	width: 49%;

    	.email a {
    		color: white !important;
    	}

    	@media only screen and (min-width: 768px) {
    		width: 40%;
    	}

    	display: inline-block;
    	/*background: grey;*/

    	p {
    		padding: 10px 0px;

    		a {
    			color: white !important;
    		}
    	}

    	.email-icon {
    		width:20px;

    		@media only screen and (min-width: 768px) {
    			width: 30px;
    		}

    		height: auto;
    		margin-right: 10px;
    	}

	}

	.social {
		ul {
			padding-left: 0px;

			li {
				list-style: none;
				display: inline;
				margin-right: 4%;
			}

			li:hover {
				svg path {
					fill:$turquoise;
				}
			}
		}
	}

	.chicken-img {
		width: 41%;

		@media only screen and (min-width: 768px) {
			width: 50%;
			position: relative;
		}

		@media only screen and (min-width: 1020px) {
			position: initial;
		}

		float: right;

		img {
			height: auto;
    		margin-top: -41%;
		}
	}
}

	#block-footeremailtest-2 {
		width: 100%;

		@media only screen and (min-width: 1024px) {
			box-shadow: 1px 0px black;
			width: 50%;
		}

		p {
			padding: 10px 0px 10px 3%;
			font-size: 20px;
			border-top: 1px solid black;
			text-align: center;

			@media only screen and (min-width: 1020px) {
				font-size: 26px;
				padding-top: 0px;
				border-top: none;
				text-align: left;
				margin-top: -10%;
			}

    		font-weight: 100;
    		color: $orange;
		}

		img {
			height: 25px;
		}
		
	}

	#block-footeraddresstest-2 {
		p{
			padding-left: 13%;
			padding-top: 2%;
		}
	}
}

@media only screen and (min-width: 1020px) {
	#block-footerphonetest-2,
	#block-footermaptest-2 {
		display: inline !important;
	}

}



footer.container-fluid {
	padding:0px;
}





/*specific styles for blog content type, temporary for now*/
.page-node-type-article {

	h1 {
	    width: 60%;
    	display: inline;
    	font-weight: 300;
	}

	#page-title:first-child {
		padding-left: 0px;
	}

	.content {
		@extend .max-container;

		@media only screen and (min-width: 1024px) {
			margin-top: 20px;
		}
	}

	.field--name-field-author  {
		font-weight: 500;
		text-transform: uppercase;
	}

	.field--name-field-author::before {
		content: "BY ";
	}

	@media only screen and (min-width: 768px) {
		.field--name-field-image img{
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}

	@media only screen and (min-width: 1024px) {
		.featured-info-blog  {
			float: right;
		}

		.field--name-field-image img{
			margin: initial;
		}
	}

	#blog-taxonomies {
		display: flex;

		.field--label {
			@extend h4;
			font-weight: 500;
		}

		a {
			@extend .preview;
			line-height: 17px;
			font-size: 15px;
		}
	}
}





/*overriding field group and styling field group for blogs*/
.featured-info-blog {
	border: none;
	box-shadow: none;
	.panel-heading {
		display: none;
	}

}

#blog-taxonomies {
	border: none;
	box-shadow: none;
	margin-top: -30%;
/*	background-color:rgba(140, 196, 63, 0.3);*/

	@media only screen and (min-width: 768px) {
		margin-top: initial;
	}


	.panel-body {
		width: 100%;
		background-color: $light-grey;
		width: 90%;
		margin: 0 auto;
		padding: 0px; 

		@media only screen and (min-width: 1024px) {
			display: flex;
			background-color: white;
			width: 100%;
			margin-top: 20px;
		}

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			margin-top: 30%;
		}
		

		.field--name-field-industry,
		.field--name-field-services {
			width: 100%;
			padding: 10px;
			@media only screen and (min-width: 1024px) {
				width: 50%;
				border-left: 1px solid $med-grey;
	   			padding: 10px;
	   		}

   			a {
   				color: initial;
   			}
		}
	
	}
}






/*specific styling for case studies*/

.page-node-type-case-study {
	h1 {	
		background: white;
    	padding: 10px;
	}

	@media only screen and (min-width: 768px) {
		h1 {
			position: absolute;
   	 		margin-top: 10%;
   	 		max-width: 450px;
		}
	}

	.content {
		/*@extend .max-container;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.field--name-field-banner-image {
		width: 100%;
		margin-bottom: 30px;
	}


	.field--name-field-the-result {
		background-color: $light-grey;
	}

	.field--name-field-the-result,
	.field--name-field-the-need,
	.field--name-field-what-we-did {
		width: 100%;
		padding: 20px;
		@media only screen and (min-width: 1024px) {
			width: 30%;
			background-color: white;
		}
	}

	.field--name-field-what-we-did .field--item {
		
		a {
			color: initial;
		}

		a::before {
			content: "- ";
			display: inline-block;
		}
	}

	@media only screen and (min-width: 1024px){

		.field--name-field-the-result,
		.field--name-field-the-need {
			border-right: 1px solid $med-grey;
		}
	}

}





/*navigation*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block !important;
}


// Header Styling
.nav-outer-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 1.2em;
  width: 100%;
  z-index: 1;
  .nav-wrapper {
    max-width: 900px;
    margin: auto;
  }
}
.navbar-default {
  .navbar-nav > li {
    a {
      background-color: rgba(255,255,255,0.4);
      border: 1px solid #ddd;
      &:hover,
      &:focus {
        background-color: rgba(255,255,255,0.6);
      }
    }
  }  
  .navbar-nav > .active > a, 
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    background-color: rgba(255,255,255,0.6);
    color: #555;
  }
}

.dropdown-menu > .active > a,
 .dropdown-menu > .active > a:hover{
	color: #555;
	font-weight: 600;
}

.page-header {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.block-fuseiq-header {
	.view-header {
	  max-height: 700px;
	  overflow: hidden;
	  .paragraph {
	    padding: 0;
	  }
	}
}

.menu--main {
	background-color: white;
	box-shadow: 0px 2px $light-grey;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

@media only screen and (min-width: 768px) {

	.menu--main {
		background-color: transparent;
		box-shadow: none;
	}
	
}


/*mean nav*/

.mean-container { 
	.mean-bar {
		width: 80%;
		margin-right: 10px;
	}

	.mean-nav{
		background-color: white;


			a {
				color: $dark-grey !important;
				border-top: 1px solid $med-grey !important;
				border-left: 1px solid $med-grey !important;
				border-right: 1px solid $med-grey !important;
				font-family: 'roboto', Helvetica, sans-serif;
			}

			a.mean-expand {
				color: $dark-grey !important;
			}

			li.expandable:last-child {
				border-bottom: 1px solid $med-grey !important;
			}

			a.mean-expand:hover {
				background-color: transparent !important;
			}
		}
}

.mean-container a.meanmenu-reveal {
	background-color: #7f7f7f !important;
	margin-right: 10px;
	padding: 8px !important;
}


/*taxonomy pages*/
.path-taxonomy {

	.field--name-description p{
		@extend .preview;
	}

	.feed-icons {
		display: none;
	}
}


/*webform styling*/

.webform-submission-form {
	max-width: 1236px;
	margin: 0 auto;
	padding:10px;
}


@media only screen and (min-width: 768px) {
	.webform-submission-project-center-questionnaire--form {
		max-width: 900px;
		display: flex;
		flex-wrap: wrap;

		.js-form-item-first-name, .js-form-item-last-name,
		.js-form-item-title, .js-form-item-company,
		.js-form-item-email, .js-form-item-phone-new {
			max-width: 48%;
			margin-right: 1%;

			label, input {
				display: inline-block;
			}

			label {
				width: 100px;
			}

		}

		.form-item-not-listed-tell-us-what-you-re-looking-for, 
		.form-item-do-you-have-concerns-or-issues-that-might-present-obstacles-for-,
		.form-item-do-you-have-concerns-or-issues-that-might-present-obstacles-for-,
		.form-item-what-s-your-deadline-,
		.js-form-item-what-s-your-current-site-or-project-url-if-applicable-,
		.form-item-when-was-it-built-,
		.form-item-tell-us-about-your-organization-and-what-your-mission-is,
		.form-item-what-questions-do-you-have-for-us-any-concerns- {
			width: 100%;
		}
	}
}



 
/*BROWSER COMPATABILITY*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
      .page-node-type-case-study #page-title {
     	position: absolute;
     	left: 0%;
     } 

     .field--name-field-paragraph-3 {
     	width: 100%;
     }

   	.paragraph--type--right-text-callout,
   	.paragraph--type--left-text-callout {
     	display: inline-block ;
     }

     .paragraph--type--summary-with-links {
     	display: flex;
     }

     .paragraph--type--staggered-callout-container .field--name-field-staggered-callout .field--item:nth-child(2) {
     	float: left;
     	width: 100%;
     }

      .paragraph--type--staggered-callout-container .field--name-field-staggered-callout .field--item .field--name-field-title{
      	float: none;
      }

      .field--name-field-icon img, .field--name-field-icon  {
      	display: none;
      }

      .footer #block-footerphonetest-2 img {
      	margin-top: 0%;
      }

}


