// Custom theme overrides.
@import 'components';
@import 'custom_styles';

/*OVERALL FIELD THEMING FOR PARAGRAPHS, STILL WAITING ON STYLE GUIDE FROM JEN*/

/*title field*/
.field--name-field-title {
	@extend h2;
}

/*body field*/

.paragraph {
	padding: 0px 20px;

	@media only screen and (min-width: 1024px) {
		padding: initial;
	}

	.field--name-field-body p {
		@extend .preview;
	}
}





/*subtitle field*/

/*hover text field*/




/*icon field*/
.field--name-field-icon {
	img,
	svg {
		height: 60px; 
		width: auto;

		.cls-2 {
			clip-path: initial;
		}
	}

	svg path {
		fill: $salmon;
	} 

	@media only screen and (min-width: 768px) {
		img {
			height: 100px;
		}
	}

	float: left;
	margin-right: 10px;
	@media only screen and (min-width: 1024px) {
		height: 30px;
	}
}

/*hover for svg on callouts*/

.paragraph--type--staggered-callout:hover,
.paragraph--type--grid-callout:hover{
	svg path {
		fill:#a5cbbd;
	}


	.field--name-field-title::after,
	.field--name-field-title-destination a::after {
    	background-image: url(/themes/custom/fuseiq_custom/images/arrow-blue.svg);
    }
}

.paragraph--type--grid-callout:hover::after,
.paragraph--type--staggered-callout:hover::after {
		content:"";
		background-image: url('/themes/custom/fuseiq_custom/images/color-bar-blue.svg');
}




/*image field*/

/*author field*/

/*call to action field*/
/*need correct icon*/
.paragraph{
	.field--name-field-call-to-action-link a {
		visibility: hidden;
	}
}





/*css color field*/
.blue.paragraph {
	background-color: $blue;
}

.green.paragraph {
	background-color: $green;
}

.blue-green.paragraph{
	background-color: $blue-green;
}

.grey.paragraph{
	background-color: $paragraph-grey;
}
 
.white-grid.paragraph {
	background-image:url('/themes/custom/fuseiq_custom/images/white-grid1.png');
}

.blue-grid.paragraph {
	background-image:url('/themes/custom/fuseiq_custom/images/blue-grid.png');
}

.green-grid.paragraph {
	background-image:url('/themes/custom/fuseiq_custom/images/green-grid.png');
}

.blue-green-grid.paragraph {
	background-image:url('/themes/custom/fuseiq_custom/images/bluegreen-grid.png');
}

.white-text.paragraph {
		.field,
		.field p {
			color: white;
		}
}

.padded.paragraph {
	padding:1% 4%;
}




/*background image field*/






/*PARAGRAPHS*/


/*SUMMARY PARAGRAPH*/
.paragraph--type--summary {
	padding-top: 0px;

	@media only screen and (min-width: 1024px) {
		padding: 20px;
		padding-top: 20px;
	}

	.field--name-field-body p {
		@extend .preview;
	}
}

.left-aligned.paragraph--type--summary {
	text-align: left;
}

.right-aligned.paragraph--type--summary {
	text-align: right;
}

@media only screen and (min-width: 1024px) {
	.half-width.paragraph--type--summary {
		width: 50%;
	}

	.indented.paragraph--type--summary {
		margin-left: 10%;
	}
}

.center-aligned.paragraph--type--summary {
	text-align: center;
}

.float-right.paragraph--type--summary {
	float: right;
}





/*STAGGERED AND GRID CALLOUTS SIMILAR*/

.field--name-field-hover-text {
	display: none;	
}

.paragraph--type--grid-callout,
.paragraph--type--staggered-callout {
	background-color: white;
	@media only screen and (min-width: 1024px) {
		padding: 20px;
		margin: 20px;
	}

	.field--name-field-title,
	.field--name-field-title-destination a{
		@extend h2;
		font-size: 24px;
		font-weight: 300;
		display: -webkit-box;
		text-decoration: none;

		@media only screen and (min-width: 1024px) {
			font-size: 30px;
		}
	}

	.field--name-field-title::after,
	.field--name-field-title-destination a::after {
		content: "";
    	background-image: url(/themes/custom/fuseiq_custom/images/arrow.svg);
    	display: inline-block;
    	height: 23px;
    	width: 28px;
    	margin-left: 10px;
    	margin-top: 5px;
	}

}




.paragraph--type--grid-callout::after,
.paragraph--type--staggered-callout::after {
		content:"";
		background-image: url('/themes/custom/fuseiq_custom/images/color-bar.svg');
		width: 70px;
		height: 10px;
		display: block;
		margin-top: 70px;
}





/*STAGGERED CALLOUT PARAGRAPH*/
/*currently working as long as there is first a right aligned*/
.paragraph--type--staggered-callout-container {
	display: flex;
	
	.field--name-field-staggered-callout {
		display: grid;

		.field--item {
			margin-bottom: 10px;
		}
	}
}
@media only screen and (min-width: 1024px) {
	.paragraph--type--staggered-callout {
		width: 45%;
	}

	.left-aligned .paragraph--type--staggered-callout {
		float: left;
	}

	.right-aligned.paragraph--type--staggered-callout {
		float: right;
	}
}





/*GRID CALLOUT PARAGRAPH*/
@media only screen and (min-width: 1024px) {
	.field--name-field-callout > .field--item,
		.field--name-field-callout > .field--item ~ .field--item{
				width: 45%;
		}

		.field--name-field-callout {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

		}
}





/*WIDE CALLOUT PARAGRAPH*/
.paragraph--type--wide-callout{
	background-color: white;

	@media only screen and (min-width: 768px) {
		display: flex;
		padding: 20px;
	}

	img {
		width: auto;
	}

	.field--name-field-title  {
		@extend h2;
		margin-right: 30px;
		margin-top: 0px;
	}

	.panel-default {
		border: 0px solid white !important;
		box-shadow: none !important;
	}

	#title-icon {
		.panel-heading {
			display: none;
		}

		.panel-default {
			border: 0px solid white !important;
			box-shadow: none !important;
		}

		.panel-body {
			padding: 0px 15px;
		}

		.field--name-field-icon {
			height: initial;
		}
	}
}







/*WIDE IMAGE CALLOUT PARAGRAPH*/
.right-aligned.paragraph--type--wide-image-callout {
	flex-flow: row-reverse;

	.field--name-field-call-to-action-link {
		left: 43%;
	}
}

.paragraph--type--wide-image-callout {
	padding: 0px;
	/*border:2px solid green;*/

	.field--name-field-image {
		display: block !important;
	}
	
	@media only screen and (min-width: 1024px) {
		display: flex;

		.field--name-field-image,
		.wide-callout-content {
			flex:1;
			height: 100%;
			/*border: 2px solid deeppink!important;*/
		}
	}

	.wide-callout-content {
		border:none;
		margin: auto 0;
		background-color: transparent;
		box-shadow: none;
	}

	.field--name-field-call-to-action-link {
		
		.field--item {
			padding-left: 30px;

			@media only screen and (min-width: 1024px) {
				margin-top: 200px;
	    		position: absolute;
	    		z-index: 999;
	    		padding-left: initial;
	    	}

			a {
				visibility: visible;
				text-transform: uppercase;
				color: white !important;
				font-weight: 400;
				text-decoration: none !important;
			}
		}
	}

	.panel-body {
		padding-right: 20px;
		@media only screen and (min-width: 1024px) {
			padding-left: 50px;
		}
	}

	.field--name-field-call-to-action-link a::before {
		content:"";
		background-image: url('/themes/custom/fuseiq_custom/images/go-button-inverted-green-small.png');
		background-repeat: no-repeat;
		display: block;
		height: 40px;
		width: 45px;
		float: left;
		padding-right: 20px;

	}

	.field--name-field-image img {
		opacity: .75;
	}
}

.right-aligned.paragraph--type--wide-image-callout {

	.field--name-field-call-to-action-link a::before  {
		display:none;
	}

	.field--name-field-call-to-action-link a::after {
		content:"";
		background-image: url('/themes/custom/fuseiq_custom/images/go-button-inverted-green-small.png');
		background-repeat: no-repeat;
		display: inline-block;
		height: 30px;
		width: 45px;
		margin-left: 7px;

	}

	.field--name-field-call-to-action-link {

		.field--item  {
			padding-left: 30px;

			@media only screen and (min-width: 1024px) {
				position: absolute;
	    		right: 49.7%;
	    		z-index: 999;
	    		margin-top: 200px;
	    		max-width: 230px;
	    		padding-left: initial;
    		}

    		a {
    			vertical-align: top;
    		}
		}
	}
}



/*THREE COLUMN CALLOUT*/
@media only screen and (min-width: 1024px) {
	.field--name-field-callout-3 {
		display: flex;
		flex-wrap: wrap;

		.field--item {
			width: 33%;
			.field--name-field-title,
				.field--name-field-body,
				.field--name-field-call-to-action-link {
					width: 100%;
				}
		}
	}
}

.paragraph--type--three-column-callout {

	padding: 0px;
	margin:20px 0;

	.field--name-field-title,
	.field--name-field-body {
		padding:0px 20px;
	}

	.field--name-field-title {
		padding-top: 20px;
	}

	@media only screen and (min-width: 1024px) {
		margin: 0px 20px;
	}

	.field--name-field-title {
		@extend h3;
	}


	.field--name-field-call-to-action-link {
		display: flex;
    	flex-direction: row-reverse;

		 a::after{
			content:"";
			background-image: url('/themes/custom/fuseiq_custom/images/go-button-pink.png');
			width: 84px;
			height: 55px;
			display: block;
			visibility: visible;
			float: right;
		}
	}
}





/*TWO COLUMN CALLOUT*/
.paragraph--type--two-column-callout {
	background-color: white;

	@media only screen and (min-width: 1024px) {
			margin:20px;
	}
		padding: 20px;
		/*min-width: 50%;*/

	.field--name-field-title {
		@extend h2;
	}

	.field--name-field-title::before {
		content:"";
		background-image: url('/themes/custom/fuseiq_custom/images/test-callout-line.png');
		width: 180px;
		height: 10px;
		display: block;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 1024px) {
	.paragraph--type--two-column-callout-container {
			div.field.field--name-field-two-callout.field--type-entity-reference-revisions {
				display: flex;
				flex-wrap: wrap;

				.field--item {
					width: 50%;

					.field--name-field-title,
					.field--name-field-body,
					.field--name-field-call-to-action-link {
						width: 100%;
					}

					.field--name-field-call-to-action-link a {
						visibility: hidden;
					}
				}
			}
	}
}





/*LEFT and RIGHT TEXT CALLOUT SIMILAR STYLES*/

.paragraph--type--left-text-callout,
.paragraph--type--right-text-callout {
	clear: both;
	padding: 20px;
	display: flow-root;
	margin-top: 0px;

	.field--name-field-title,
	.field--name-field-subtitle {
		@extend h2;
	}
}
 


/*LEFT TEXT CALLOUT*/

.paragraph--type--left-text-callout {
	.field--name-field-image {
		margin-bottom:20px;
		margin-top: 20px;
	}
	@media only screen and (min-width: 768px) {
		.field--name-field-image {
			float: right;
			margin-left: 30px;
		}
	}
}






/*RIGHT TEXT CALLOUT*/

.paragraph--type--right-text-callout {
		.field--name-field-image {
			margin-bottom:20px;
			margin-top: 20px;
		}
	@media only screen and (min-width: 768px) {
		.field--name-field-image {
			float: left;
			margin-right: 30px;
		}
	}
}





/*SUMMARY WITH LINKS PARAGRAPH*/
.paragraph--type--summary-with-links {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;

	.field--name-field-title {
		width: 100%;
	}
	@media only screen and (min-width: 1024px) {
		.field--name-field-body {
			width: 70%;
		}
	}

	.field--name-field-call-to-action-link {
		@media only screen and (min-width: 1024px) {
			margin-left: 30px;
		}

		.field--item {
			a {
				@extend .preview;
				text-transform: uppercase;
				visibility: visible;
			}

			a::after {
				display: none;
			}

			a::before {
				content:" ";
				background-image: url('/themes/custom/fuseiq_custom/images/small-pink-inverted.png');
				width: 60px;
				height: 35px;
				background-repeat: no-repeat;
				display: inline-block;
				visibility: visible;
			}
		}
	}
}





/*LARGE IMAGE CALLOUTS*/
.paragraph--type--large-image-callout- {
	padding: 20px 0px;
	@media only screen and (min-width: 1024px) {
		position: relative;
		height: 362px;
	}

	@media only screen and (min-width: 1120px) {
		height: 385px;
	}

	@media only screen and (min-width: 1200px) {
		height: 388px;
	}

	@media only screen and (min-width: 1285px) {
		height: 455px;
	}

	@media only screen and (min-width: 1400px) {
		height: 508px;
	}

	.field {
		@extend .max-container;
		padding-left: 20px;
		padding-right: 20px;
	}
	@media only screen and (min-width: 1024px) {
		.field--name-field-title {
			position: relative;
	    	z-index: 100;
		}
	}

	.field--name-field-background-image {
		margin: 0!important;
		padding:0!important;
		width: 100%;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				max-width: 100%!important;
			}

		@media only screen and (min-width: 1024px) {
			max-width: initial !important;
			position: absolute;
    		top: 0;
    		left: 0;
   			z-index: -100;
   		}

		img {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.half-width.paragraph--type--large-image-callout- .field p{
		width: 50%;
	} 

	.left-aligned.paragraph--type--large-image-callout- .field {
		text-align: left;
	}

	.right-aligned.paragraph--type--large-image-callout- .field {
		text-align: right;
	}

	.center-aligned.paragraph--type--large-image-callout- .field {
		text-align: center;
	}

	.top-right-corner.paragraph--type--large-image-callout- {
		display: flex;
		.field--name-field-title {
			margin-left: 40%;
			width: 40%;
		}
	}

	.staggered.paragraph--type--large-image-callout- {
		.field--name-field-title {
			width: 40%;
		}

		p:nth-child(2) {
			margin-top: 10%;
			text-align:center;
			float: right;
			margin-right: 10%;
			margin-bottom: 10%;
		}
	}
}




/*PULL QUOTE PARAGRAPH*/
.paragraph--type--pull-quote {
	text-align: center;
	padding-top: 2%;

	.field--name-field-body p{
		font-size: 24px;
		line-height: 35px;
		font-family: 'roboto', Helvetica, sans-serif;
		font-weight: 400;
		color: #666666;
		text-transform: none;
		padding-top: 25px;
		@media only screen and (min-width: 1024px) {
			max-width: 60%;
		}
		margin: 0 auto;
	}

	.field--name-field-author::before {
		content:"- ";
	}
 
	.field--name-field-author {
		line-height: 30px;
		font-size: 16px;
		font-style: italic;
		padding-bottom: 50px;
		color:$light-blue;
	}
}





/*INLINE CALLOUT*/
.paragraph--type--inline-callout {
		padding: 20px 10%;
		@media only screen and (min-width: 1024px) {
			display: flex;
		}

		.field--name-field-image{
			@media only screen and (min-width: 1024px) {
				padding: 0px 8%;
				position: absolute;
			}
		}
		img {
			height: 250px;
			width: auto;
		}

		@media only screen and (min-width: 1024px) {
			.field--name-field-title {
				width: 30%;
				margin-right: 8%;
				margin-left: 21%
			}
		}
	}




/*LINK LIST*/

.paragraph--type--link-list {

	.field--name-field-call-to-action-link {
		display: flex;
		flex-wrap: wrap;

		 a::after {
			display: none;
		}

		a {
			visibility: visible;
		}

		a::before {
			content: "";
			background-image:  url('/themes/custom/fuseiq_custom/images/go-pink-small.png');
			display: inline-block;
			padding-right: 5px;
			height: 30px;
			width: 60px;
			background-repeat: no-repeat;
			vertical-align: text-top;
		}

		.field--item {
				min-width: 30%;
				padding: 5px 10px;
				text-align: center;
				@media only screen and (min-width: 1024px) {
					border-right: 1px solid $med-grey;
				}

				a {
					@extend .preview;
					text-transform: uppercase;
				}
			}

		@media only screen and (min-width: 1024px) {
			.field--item {
				min-width: initial;
				width: 20%;
			}
		}
	}

}