// Custom theme overrides.
@import 'components';
@import 'custom_styles';
@import 'paragraphs';

/*OUR BLOGS*/

.block-views-blockour-blog-block-1,
.block-views-blockour-blog-block-2,
.view-display-id-blog_landing_page_new {

	@media only screen and (max-width: 768px) {
		.views-row {
			background-color: $light-grey;
		}
	}

	.view-content {
		@extend .max-container;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
   		justify-content: center;

		.views-row {
			display: block;

			@media only screen and (min-width: 768px) {
					width: 500px;
					margin:0 auto;
					margin-bottom: 20px;
			}

			@media only screen and (min-width: 1024px) {
			margin: 30px;
			.views-field{
				max-width: 500px;
			}

		}

		#page-title {
			display: none;
		}

		@media only screen and (min-width: 1024px) {
			#page-title {
				display: block;
			}
		}
			margin-bottom: 	30px;

			.views-field-body{
				 .field-content,h2 {
					@extend p;
					text-transform: initial;
				}
			}

			.views-field-title {

				a {
					@extend h2;
					font-size: 30px !important;
					text-decoration: none;
					line-height: 35px!important;
				}
			}

			@media only screen and (min-width: 1024px) {
				.views-field-title a {
					font-size: 41px;
					line-height: 35px!important;
				}

				.field--name-body{
					display: block !important;
				}
			}


			.views-field-field-author::before {
				content:"By";
				padding-right: 5px;
			}

			.views-field-field-author,
			.views-field-field-published-date {
				font-weight: 500;
				display: flex;
			}


			.views-field-field-image img{
				@media only screen and (min-width: 768px) {
					opacity: .15;
				}
			}

			.views-field-field-image img:hover {
				opacity: 1;
				 filter: brightness(70%);
			} 


			.views-field-field-image a::after 
		/*	.views-field-field-image::after*/ {
				content: url("/themes/custom/fuseiq_custom/images/go-button-blue.png");
				display: block;
				width: 85px;
				height: 50px;
				margin-top: -57px;
				float: right;
				position: relative;
				margin-bottom: 40px;
			}

			

			.views-field-field-author,
			.views-field-body,
			.views-field-field-published-date,
			.views-field-title {
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom:5px;
			}

			.views-field-field-published-date {
				padding-bottom: 10px;
				padding-left: 10px;
				@media only screen and (min-width: 1024px) {
					margin-top: -350px;
				}
			}
		}

		.views-row:hover {
			.views-field-field-image img {
				opacity: 1;
				filter: brightness(70%);
			} 
			@media only screen and (min-width: 768px) {
				a,
				p,
				h2,
				.views-field-field-author,
				.views-field-field-published-date {
					color: white;
					filter: brightness(100%);

				}
			}

		}

	}
}


/*FEATURED POST*/
.view-display-id-block_1 .view-display-id-blog_landing_attatchment,
 .view-display-id-blog_landing_attatchment {
	border:0px;
	vertical-align: top;
	.view-content {
		padding: 0px;

		@media only screen and (min-width: 768px) { 
			margin: initial;
		}
	}

	.views-field-field-published-date {
		display: none !important;
	}

	.views-row {
		margin:0px;
		background-color: $light-grey;

		.views-field-title {
			max-width: 750px;
			padding-top: 2%;
		}

		.views-field-title,
		.views-field-body {
			max-width: 600px;
		}

		width: 390px !important;

		@media only screen and (min-width: 768px) { 
			width: 47% !important;
		}
	}

	border-radius: 0px !important;
	margin: 0px !important;

	.field--name-body p, 
	.field--name-body h2 {
		@extend p;
	}
 

	.panel-heading {
		border: 0px;
	}

	.panel-title {
		background: $light-grey;
	}
	.views-field-title{
		.views-label {
			display: block;
			font-weight: 800;
			padding-left: 5px;
			padding-bottom: 10px;
		}
	}

	h1 a {
		@extend h2;
	} 


	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.views-field-field-published-date {
			margin-top: 0px !important;
		}
	}

	@media only screen and (min-width: 1200px) {
		.views-field-title{
			 a {
				font-size: 41px;
				line-height: 48px;
			}
		}

		.mobile-featured-image {
			float: right
		}

		.views-field-field-image-1 {
			float: right;
		}
 
  		.views-row {
  			width: 100% !important;
  		}
	} 

	@media only screen and (min-width: 786px) {
		.views-row:hover{
				a,
				p,
				h2,
				.views-field-field-author,
				.views-field-field-published-date,
				.views-field-title a {
					color: black!important;
				}
			}
		}

	/*	@media only screen and (min-width: 1024px) {
			.views-field-body::before {
				content: url(/themes/custom/fuseiq_custom/images/go-button-blue.png);
			    display: block;
			    width: 85px;
			    height: 50px;
			    position: absolute;
    			right: 43%;
    			margin-right: 0%;
			}
		}*/
}

.view-display-id-blog_landing_attatchment .view-content {
	margin: 0 auto;
}


@media only screen and (min-width: 768px) {
	.view-display-id-blog_landing_attatchment{

		article {
			.content {
				display: flex;
			}
		}

		.quickedit-field {
			display: none;
		}

		.view-content{
			/*display: initial;*/

			.views-row {
				width: 100%;

				.field--name-field-image, 
				#blog-teaser-text {
					display: initial;
				}
			}

		}

		.views-field-field-published-date{
			margin-top: initial!important;
		}
		.views-field-field-image {
			opacity: initial !important;
		}

		.js-form-wrapper {
			width: 60%;
		}

		.field--name-field-image {
			width: 39%;
		}

		.field--name-body {
			display: block;
			/*max-width: 400px !important;*/
		}
	}
}

/*blog list specific styling, not for featured*/
	.view-display-id-block_1,
	.view-display-id-block_2,
	.view-display-id-blog_landing_page_new {
		.views-field-body,
		.views-field-title {
			max-width: 500px;
		}
	}





/*OUR CLIENTS*/
.field--type-viewfield {

	.view-id-our_clients {
		display: flex;
		flex-wrap: wrap;

		margin-bottom: 0px;

		@media only screen and (min-width: 1024px) {
			margin-bottom: 110px;
		}

		.view-header {
			background-color: $green;
			padding: 30px;
			color: white;
			@extend .preview;

			@media only screen and (min-width: 1024px) {
				padding-left: 10%;
				width: 40%;
			}

			h1 {
				color: white;
			}
		}	

		.view-content {
			div {
				width: 50%;

				img {
					margin: 10px;
					@media only screen and (min-width: 1024px) {
						height: 100px;
						width: auto;
						margin: 0 auto;
					}
				}
			}
		}

		
		@media only screen and (min-width: 768px) {
			.view-content {
				div {
					width: 30%;
					display: inline-block;
				}
			}
		}

		@media only screen and (min-width: 1024px) {
			.view-content {
				width: 60%;
				padding-right: 8;

				div {
					width: 20%;
					display: initial;
				}
			}

		}

		.view-footer,
			.needs-button {
				margin-top: 20px;
    			a {
    				color: $dark-grey;
    				font-weight: 600;
    			}
			}

		.view-footer a::before,
		.needs-button::before {
			content:"";
			background-image: url('/themes/custom/fuseiq_custom/images/go-button-inverted-green-small.png');
			display: inline-block;
			width: 50px;
			height: 28px;
		}

	}

	
	.view-id-our_clients .view-content {
		display: flex;
		flex-wrap:wrap;

		.views-row {
			width: 30%;
			margin: 5px;

			@media only screen and (min-width: 1024px) {
				width: 17%;
			}

			img {
				margin: 0 auto;
			}
		}
	}
}




/*OUR LATEST WORK*/

 .view-latest-work {
	@extend .max-container;

	@media only screen and (min-width: 768px) {
		.view-content {
			display: flex;

				.views-row {
					padding:20px;
				}
		}
	}

	@media only screen and (min-width: 768px) {
		.views-row {
			min-width: 32%; 
			margin: 20px;
		}
	}

	.views-field-title {
		@extend h3;

		a {
			color: $dark-grey;
		}
	}

	.views-row:first-child {
		background-color: $blue-green;
	}

	.views-row:nth-child(2){
		background-color: $blue;
	}

	.views-row:nth-child(3){
		background-color: $green;
	}
}

.view-display-id-latest_news_block::before {
	content:"Related Work";
	display: block;
	@extend h3;
}




/*LATEST COOL STUFF*/

.field--type-viewfield .view-latest-cool-stuff   {

	@extend .max-container;

	@media only screen and (min-width: 1024px) {
		display: flex;

		.view-content {
			display: flex;
			flex-wrap: wrap;
		}
	}

		.center-content {
		    padding: 10px;
		    width: 80%;
		    margin: 0 0 0 10%;
		    margin-top: -80%;
		    background-color: white;
		    display: inline-block;
		    position: relative;
		}

		 .views-row {
			width: initial;
			margin: 10px 40px;
			@media only screen and (min-width: 1024px) {
				width: 37%;
				margin-bottom: 40px;
			}


			img {
				margin: 0 auto;
				@media only screen and (min-width: 1024px) {
					opacity: .5;
				}
			}

			img:hover {
				opacity: 1;
			} 
		}

	@media only screen and (min-width: 768px) {
		.view-header {
				margin-bottom: 40px;
			}

		.center-content {
				width: 50%;
				margin-left: 25%;
				margin-bottom:3%;
				
			} 


		/*wait to implement after launch*/
		/*.center-content::after{
			content:"";
			background-image: url('/themes/custom/fuseiq_custom/images/go-button-pink.png');
			width: 84px;
			height: 55px;
			display: block;
			visibility: visible;
			float: right;
			position: absolute;
			bottom: 0;
			right: 0;

		}
*/	}

	@media only screen and (min-width: 1024px) {
			.view-header {
				width: 100%;
			}
	}

	@media only screen and (min-width: 1024px) {
			.view-header {
				width: 38%;
				padding: 10px;

				h1 {
					width: 200px;
				}

				.view-all {
					padding-top: 30px;
				}
			}
	}


	@media only screen and (min-width: 1024px) {
		.center-content {
			background-color: white;
			width: 75%;
			margin: 0 auto;
			position: relative;
    		margin-top: -80%;
    		height: 280px;
    		padding: 0px;
    		display: block;
    		left: initial;

    		h3{
    			padding:20px 20px 0px 20px;
    		}
    		p {
    			padding: 0px 20px 0px 20px;
    		}

		}

		.logo {

				img {
					opacity: .65;
					width: 84px;
					height: 55px;
					position: absolute;
    				bottom: 0;
    				right: 0;
				}
    		}
	}


	.views-field-nothing:hover {
		img,
		.logo img {
			opacity: 1;
		}
	}

		h3 a{
   			color: $dark-grey;
   		}

   		.view-all a::before {
				content:"";
				background-image: url('/themes/custom/fuseiq_custom/images/go-button-pink.png');
				width: 84px;
				height: 55px;
				display: block;
				visibility: visible;
				float: left;
				margin-right: 20px;
				opacity: .65;

			}

		.view-all:hover a::before {
			opacity: 1;
		}
}




/*portfolio specific page*/
.view-latest-cool-stuff.view-display-id-block_1 {
	display: block !important;

	h1 {
		width: 100% !important;
	}

		.views-row {
			margin: 10px 10px !important;
				@media only screen and (min-width: 1024px) {
					width: 30% !important;
				}
		}
	}






.view-display-id-block_1.view-id-latest_cool_stuff {

	.view-header {
		width: 100%;
	}

	.center-content {
		width: 75%;
		height: 280px;
		margin-top: -80% !important;
	} 

}


/*firefox specific styling*/

@-moz-document url-prefix() { 
  .view-id-latest_cool_stuff.view-display-id-block_1 {

     .view-header {
     	width: 50%;
     }
  }
}


/*TEAM*/
.block-views-blockteam-block-1  {
	@extend .max-container;

	img {
		border-radius: 50%;
		float: left;
		height: 60px;
		width: auto;
		margin-right: 20px;
		margin-bottom: 10px;
	}

	.views-field-title {
		@extend h3;
	}

	.views-field-field-job-title {
		@extend h2;
		font-size: 20px;
		line-height: 24px;
		margin: 5px 0px;
	}

	.views-row {
		padding-bottom: 30px;
	}

	@media only screen and (min-width: 768px) {
		.view-content {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
   			justify-content: center;

   			.views-row {
   				width: 27%;
   				margin: 10px 20px;
   				background-color: $light-grey;
   				padding: 20px;
   				display: inline-block;
   				vertical-align: top;

   				.views-field-field-image,
   				.views-field-title,
   				.views-field-field-job-title {
   					text-align: -webkit-center;
   				}

   				img {
   					float: initial;
   					height: initial;
   					margin: initial;
   				}
   			}

		}
	}
}

// Isoptopes Grid
.isotopes-grid-item {
  float: left;
  width: 16.5%;
  @media(max-width: 767px) {
    width: 33%;
  }
  
  img {
    margin: auto;
  	padding: 10px;
  }
}

#industry-options-form,
.view-our-blog .form-radios,
.page-node-type-article .form-composite{
  .form-item {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'roboto', Helvetica, sans-serif;

    input[type="radio"] {
        visibility: hidden;
    }
    input[type="radio"]:checked + label {
        font-weight: normal;
        text-decoration: underline;
    }    
  }

  legend {
  	display: none;
  }

  label {
  	font-weight: 300;
  } 
}

/*block of filters on blog*/
/*hiding until we have more blogs*/
.page-node-type-article .form-composite {
	display: none;
}

@media only screen and (min-width: 1020px) {
	.page-node-type-article .form-composite {
		float: right !important;
	}
}


#views-exposed-form-our-blog-blog-landing-page-new .form--inline {
	/*hiding for now, will need to change when enough blogs are on the site*/
	display: none;

	legend {
		display: none;
	}

	.form-composite {
		@media only screen and (min-width: 1020px) {
			float: right !important; 
		}

		@media only screen and (min-width: 768px) {
			margin-right: 10%;
			width: 650px;
		}
	}
}

#views-exposed-form-our-blog-blog-landing-page-new #edit-field-industry-target-id 
.form-composite::before,
.page-node-type-article #edit-field-industry-target-id .form-composite::before {
	content: "Filter By:";
	@extend h3;
	font-size: 14px;
	font-weight: 600;
	display: inline;
}



/*Taxonomy View for Taxonomy Pages*/
.view-id-taxonomy_term {

	.view-content {
		display: flex;
		flex-flow: wrap;
		padding-bottom: 50px;

		.views-row {
			@media only screen and (min-width: 768px) {
				width: 30%;
			}
    		margin: 1% 1%;
    		padding: 10px;
    		background-color: $green;

    		.views-field-title a {
    			@extend h3;
    		}

    		.views-field-body {

    			p,
    			h1,
    			h2,
    			h3,
    			h4 {
    				@extend p;
    				text-transform: none!important;
    			}
    		}

    		.views-field-type {
    			.field-content a{
    				color: white;
    				font-weight: 300;
    				font-size: 17px;
    				pointer-events: none;
  					cursor: default;
  					text-decoration:none;
    			}
    		}
		}
	}

	.view-content::before {
		content:"Related Content";
		display: block;
		width: 100%;
		@extend h3;
	}
}